/* Updated styling for NavBar buttons */

.active {
    background-color: #f86f3e;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    position: sticky;
    top: 0;
    border-top-right-radius: 15px;
    width: 95.5vw;
    height: 14vh;
    padding-right: 50px;
}

#nspan {
    color: #ac4607fc;
    margin-left: 1rem;
}

nav .title {
    font-size: 1.5rem;
    margin: 3rem;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem; /* Increase padding for larger buttons */
    margin: 0 1rem; /* Increase margin for better spacing */
    border-radius: 0.5rem;
    font-size: 1.1rem; /* Increase font size for better visibility */
}

nav ul li a:hover {
    background-color: #ac4607fc;
    color: #000000;
}

nav ul li.nb1 a:hover {
    background-color: transparent;
    color: white;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

.nb1 {
    background-color: #999693fc;
    border-radius: 5px;
}
@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}