.owrapper{
    margin-left:39vw;
     width: 320px;
     background:transparent;
     border:2px solid rgba(255,255,255,.2);
     backdrop-filter: blur(30px);
     color: #fff;
     border-radius: 10px;
     padding: 40px 40px;
  }
  .obody {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  background-image: url("https://wallpaperbat.com/img/384412-bookshelf-wallpaper-top-free-bookshelf-background.jpg");

    background-size: cover;
    /* background:rgb(224, 105, 105); */
    padding-right:34vw ;
  }
  .wrapper h2 {
    font-size: 36px;
    text-align: center;
  }
  .obutton-container {
    display: flex;
    justify-content: center; /* Align buttons at the center horizontally */
    margin-top: 20px; /* Adjust as needed */
  }
  
  .obutton {
    /* Add styles for the buttons */
    margin: 0 10px; /* Adjust the margin between buttons as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    background-color: #007bff; /* Example background color, you can change it */
    color: #fff; /* Example text color, you can change it */
    border: none;
    cursor: pointer;
  background:#fff;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);  
  cursor: pointer;  
  color: #333;  
  font-weight: 700;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .institute-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  